body {
    font-family: 'Roboto';
    margin: 0;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

li {
    margin: 8px 16px;
}

button {
    border: none;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero, .navi, .hero-contain {
    display: flex;
    background-color: #1F2837;
    align-items: center;
}

/* Navigation Bar */

.navi {
    width: 98%;
    position: fixed;
    padding: 16px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

/* Hero Section */

.hero-contain {
    justify-content: center;
    margin-bottom: 32px;
    
}

.hero {
    height: auto;
    width: 850px;
    flex-wrap: wrap;
    margin: 100px 0;
    justify-content: space-around;
}

.hero img {
    width: 300px;
    height: auto;
}


.left-text {
    max-width: 450px;
    flex-shrink: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Content Section */

.content-one {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    align-items: center;
}

.info-contain {
    display: flex;
    flex-wrap: wrap;
    color: #7685a3;
    justify-content: center;
    margin-bottom: 100px;
}

.info-tab {
    text-align: center;
    margin: 0 16px;
    width: 170px;
    font-size: 18px;
}

.info-tab img {
    width: 96px;
    margin: 32px 0 8px 0;
}

/* Quote Section */

.quote-contain {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    max-width: 830px;
    margin: 150px 16px;
}

.quote-author {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    text-align: right;
}
/* * {
    border-style: solid;
} */